@typeparam Tvalue
@inherits TreeviewBase<Tvalue>

<ul class="parentUl">
    @if (AllItems != null)
    {
        @foreach (var Pitem in AllItems)
        {
            if (GetPropertyValue(Pitem, ParentId) == ""|| Convert.ToInt32(GetPropertyValue(Pitem, ParentId)) == 0)
            {
                if (Convert.ToBoolean(GetPropertyValue(Pitem, HasChildren)))
                {
                    <li>                        
                        <span @onclick="@(()=>SpanToggle(Pitem))" class="@_caretcss[Convert.ToInt32(@GetPropertyValue(Pitem, Id))]">@GetPropertyValue(Pitem, Text)</span>
                        
                        <ul class="@_nestedcss[Convert.ToInt32(@GetPropertyValue(Pitem, Id))]">

                            @foreach (var Citem in AllItems)
                            {
                                if (GetPropertyValue(Pitem, Id) == GetPropertyValue(Citem, ParentId))
                                {
                                    if (Convert.ToBoolean(GetPropertyValue(Citem, HasChildren)))
                                    {
                                        <li>
                                            <span @onclick="@(()=>SpanToggle(Citem))" class="@_caretcss[Convert.ToInt32(@GetPropertyValue(Citem, Id))]">@GetPropertyValue(Citem, Text)</span>
                                            <ul class="@_nestedcss[Convert.ToInt32(@GetPropertyValue(Citem, Id))]">
                                                @foreach (var C1item in AllItems)
                                                {
                                                    if (GetPropertyValue(Citem, Id) == GetPropertyValue(C1item, ParentId))
                                                    {
                                                        if (Convert.ToBoolean(GetPropertyValue(C1item, HasChildren)))
                                                        {
                                                            <li>
                                                                <span @onclick="@(()=>SpanToggle(C1item))" class="@_caretcss[Convert.ToInt32(@GetPropertyValue(C1item, Id))]">@GetPropertyValue(C1item, Text)</span>

                                                                <ul class="@_nestedcss[Convert.ToInt32(@GetPropertyValue(C1item, Id))]">
                                                                    @foreach (var C2item in AllItems)
                                                                    {
                                                                        if (GetPropertyValue(C1item, Id) == GetPropertyValue(C2item, ParentId))
                                                                        {
                                                                            if (Convert.ToBoolean(GetPropertyValue(C2item, HasChildren)))
                                                                            {
                                                                                <li>
                                                                                    <span @onclick="@(()=>SpanToggle(C2item))" class="@_caretcss[Convert.ToInt32(@GetPropertyValue(C2item, Id))]">@GetPropertyValue(C1item, Text)</span>
                                                                                </li>
                                                                            }
                                                                            else
                                                                            {
                                                                                <li>
                                                                                    <ContextMenuTrigger MenuId="triggerMenu" MouseButtonTrigger="MouseButtonTrigger.Left">
                                                                                        <a class="pointer-link" href="www.google.com"> @GetPropertyValue(C2item, Text)</a><span class="fas fa-check-double"></span> 
                                                                                    </ContextMenuTrigger>                                                                                    
                                                                                </li>
                                                                            }
                                                                        }
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                        else
                                                        {
                                                            <li><a class="pointer-link" href="www.google.com"> @GetPropertyValue(C1item, Text)</a><span class="fas fa-minus-circle"></span> </li>
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li><a class="pointer-link" href="www.google.com"> @GetPropertyValue(Citem, Text)</a><span class="fas fa-minus-circle"></span> </li>
                                    }
                                }
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <li>@GetPropertyValue(Pitem, Text)</li>
                }
            }
        }
    }
</ul>

<ContextMenu Id="triggerMenu" CssClass="z-10" Animation="Animation.Grow">
    <Item OnClick="@OnClick">Item 1<span class="fas fa-minus-circle"></span></Item>
    <Item OnClick="@OnClick">Item 2<span class="fas fa-check"></span></Item>
    <Item OnClick="@OnClick">Item 3<span class="fas fa-check-double"></span></Item>
</ContextMenu>


@*@functions{
    void OnClick(ItemClickEventArgs e)
    {
        Console.WriteLine($"Item Clicked => Menu: {e.ContextMenuId}, MenuTarget: {e.ContextMenuTargetId}, " +
            $"IsCanceled: {e.IsCanceled}, MenuItem: {e.MenuItemElement}, MouseEvent: {e.MouseEvent}");
    }
}*@
